.action-btn {
  background-color: #c41a56 !important;
  color: #ffffff !important;
  padding: 0 !important;
  border-radius: 20px !important;
  width: 17px !important;
  height: 17px !important;
}

.action-icon {
  position: relative;
  bottom: 6px;
}

.quantity {
  margin: 0px 15px 0px 15px !important;
}

.cart-item-box {
  background-color: #ffffff;
  padding: 15px !important;
  margin-bottom: 14px !important;
}

.total-amount {
  position: relative;
  left: 95px;
  font-weight: bolder;
}

.item-amount {
  font-size: smaller;
}

.cart-product-image {
  width: 74px;
}
